<launch>

  <arg name="device"                     default="0"
        doc="target device to execute inference. [0:CPU]|1:GPU|2:VPU|3:FPGA" />
  <arg name="plane_remove"               default="false"
        doc="if remove plane from PCL inputs" />

  <!-- Load hand geometry parameters -->  
  <include file="$(find random_pick)/launch/demo/hand_geometry.launch">
    <arg name="node" value="detect_grasps" />
  </include>

  <!-- Load classifier parameters -->
  <include file="$(find gpd)/launch/caffe/classifier_15channels.launch">
    <arg name="node" value="detect_grasps" />
  </include>
  
  <node name="detect_grasps" pkg="gpd" type="detect_grasps" output="screen">

    <param name="device" type="int" value="$(arg device)" />
    <param name="plane_remove" type="bool" value="$(arg plane_remove)" />

    <rosparam command="load" file="$(find random_pick)/launch/demo/gpd.yaml" />
        
  </node>
  
</launch>
